body{
    background-color: white;
    display: flex;
    justify-content: center;
}
a:hover{
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main>div{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}